<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pukamoe.mp.dairy.agent.dao.IDiaryDAO">
    <resultMap id="UserMap" type="com.pukamoe.mp.dairy.agent.entity.DiaryEntity">
        <id property="id" column="uid" />
        <result property="id" column="id" />
        <result property="userId" column="userId"/>

        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

</mapper>